node_modules

public/data/logos/
public/data/2025/
public/data/predictions/
public/data/predictions/hr_predictions_latest.json
public/data/predictions/player_performance_latest.json
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2022.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2023.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2024.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2025.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2022.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2023.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2024.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2025.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2022.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2023.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2024.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2025.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2022.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2023.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2024.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2025.csv
public/data/stats/hitter_exit_velocity_2022.csv
public/data/stats/hitter_exit_velocity_2023.csv
public/data/stats/hitter_exit_velocity_2024.csv
public/data/stats/hitter_exit_velocity_2025.csv
public/data/stats/pitcher_exit_velocity_2022.csv
public/data/stats/pitcher_exit_velocity_2023.csv
public/data/stats/pitcher_exit_velocity_2024.csv
public/data/stats/pitcher_exit_velocity_2025.csv
