node_modules

public/data/logos/
public/data/2025/
public/data/rolling_stats/
public/data/predictions/
public/data/predictions/hr_predictions_latest.json
public/data/predictions/player_performance_latest.json
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2022.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2023.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2024.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-left-2025.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2022.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2023.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2024.csv
public/data/stats/batters-batted-ball-bat-left-pitch-hand-right-2025.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2022.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2023.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2024.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-left-2025.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2022.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2023.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2024.csv
public/data/stats/batters-batted-ball-bat-right-pitch-hand-right-2025.csv
public/data/stats/hitter_exit_velocity_2022.csv
public/data/stats/hitter_exit_velocity_2023.csv
public/data/stats/hitter_exit_velocity_2024.csv
public/data/stats/hitter_exit_velocity_2025.csv
public/data/stats/pitcher_exit_velocity_2022.csv
public/data/stats/pitcher_exit_velocity_2023.csv
public/data/stats/pitcher_exit_velocity_2024.csv
public/data/stats/pitcher_exit_velocity_2025.csv
public/data/rosters.json
public/data/injuries/mlb_injuries_2025-05-25.json
public/data/injuries/mlb_injuries_2025-05-27.json
public/data/injuries/mlb_injuries_2025-05-28.json
public/data/injuries/mlb_injuries_2025-05-29.json
public/data/injuries/mlb_injuries_2025-05-30.json
public/data/injuries/mlb_injuries_2025-05-31.json
public/data/injuries/mlb_injuries_2025-06-01.json
public/data/injuries/mlb_injuries_2025-06-02.json
public/data/injuries/mlb_injuries_2025-06-03.json
public/data/injuries/mlb_injuries_2025-06-04.json
public/data/injuries/rosters_backup_2025-05-25_23-28.json
public/data/injuries/rosters_backup_2025-05-25_23-46.json
public/data/injuries/rosters_backup_2025-05-27_00-06.json
public/data/injuries/rosters_backup_2025-05-27_23-41.json
public/data/injuries/rosters_backup_2025-05-28_08-46.json
public/data/injuries/rosters_backup_2025-05-29_08-24.json
public/data/injuries/rosters_backup_2025-05-30_08-12.json
public/data/injuries/rosters_backup_2025-05-31_08-59.json
public/data/injuries/rosters_backup_2025-06-01_08-37.json
public/data/injuries/rosters_backup_2025-06-02_00-11.json
public/data/injuries/rosters_backup_2025-06-03_07-14.json
public/data/injuries/rosters_backup_2025-06-04_08-54.json
public/data/odds/mlb-hr-odds-only.csv
public/data/odds/mlb-hr-odds.csv
public/data/predictions/hr_predictions_latest.json
public/data/predictions/player_performance_latest.json
public/data/stadium/stadium_hr_analysis.json
public/data/rolling_stats/rolling_stats_current_2025-06-04.json
public/data/rolling_stats/rolling_stats_current_latest.json
public/data/rolling_stats/rolling_stats_last_7_2025-06-04.json
public/data/rolling_stats/rolling_stats_last_7_latest.json
public/data/rolling_stats/rolling_stats_last_30_2025-06-04.json
public/data/rolling_stats/rolling_stats_last_30_latest.json
public/data/rolling_stats/rolling_stats_season_2025-06-04.json
public/data/rolling_stats/rolling_stats_season_latest.json
